@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="./AvailableDrinks/ServeDrink" class="btn btn-outline-dark">Have a drink.</a>
</div>
