@page
@model machineAcafe.Pages.AvailableDrinks.ServeDrinkModel
@{
}

<h3 class="alert alert-light">Prepare your drink:</h3>

<div class="border container col-6" style="padding:30px;">

    <form method="post">

        <div class="form-group row ">
            <div class="col-3">
                <label asp-for="Badge.Serial"> Badge : </label>
            </div>
            <div class="col-7">
                <input id="badge" class="form-control" asp-for="Badge.Serial" /> <span class="badge badge-info"> Optional </span>
            </div>
            <div class="alert-info" id="lastOrder"></div>
        </div>

        <div class="form-group row ">
            <div class="col-3">
                <label asp-for="Drink.Name"> Drink : </label>
            </div>
            <div class="col-7">
                <select id="drink" class="form-control"
                        asp-for="Drink.Id"
                        asp-items="@(new SelectList(Model.Drinks,"Id", "Name"))">
                </select>
            </div>
        </div>


        <div class="form-group row ">
            <div class="col-3">
                <label asp-for="Sugar.Quantity"> Sugar : </label>
            </div>
            <div class="col-3">
                <input id="sugar" class="form-control" asp-for="Sugar.Quantity" />
            </div>
            <span asp-validation-for="Sugar.Quantity" class="text-danger"></span>
        </div>

        <div class="form-group row ">
            <div class="col-3">
                <label asp-for="OrderDtl.Mug"> Own Mug : </label>
            </div>
            <div class="col-7">
                <select id="sltMug" class="form-control" asp-for="OrderDtl.Mug">
                    <option value="">Personal Mug?</option>
                    <option value="true"> Yes, I have it.</option>
                    <option value="false"> No, I don't have it.</option>

                </select>
                <span asp-validation-for="OrderDtl.Mug" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row ">
            <div class="col-6">
                <button class="btn btn-primary btn-block" type="submit"> Order   </button>
            </div>
            <div class="col-4">
                <a asp-page="/Index" class="btn btn-secondary btn-block"> Cancel   </a>
            </div>
        </div>
    </form>
</div>

@section Scripts{


    <script src="~/js/myOrderDetails.js"></script>

}