@page
@model machineAcafe.Pages.AvailableDrinks.ThanksModel
@{
}

<p class="alert alert-info">Thank you for using our service.</p>
<a asp-page="/Index" class="btn btn-outline-primary btn-block"> Home Page.   </a>